@page "/NotificacionAvisoDePago"
@using PortalAG_V2.Componentes.Pagos
@using PortalAG_V2.Shared.Model.AvisoDePago;
@using PortalAG_V2.Componentes;

@inject IDialogService DialogService


<style>
    .selected {
        background-color: #1E88E5 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }
</style>
@{
    string? titulo = $"Confirmacion De Pago, se actualizará en: {Count} segundos.";
}

<SurveyPrompt Title="@titulo" />
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-10 col-md-8 col-sm-6 col-xs-4">
            <div class="col-md-1">
                <SfButton CssClass="e-btn e-outline e-primary" IconCss="e-icons e-refresh" @onclick="Actualizar">Actualizar</SfButton>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<br />
<MudGrid>
    <MudItem xs="12">
        <MudDataGrid T="AvisoPagoModel" Items="_listConfirmacion" MultiSelection="true" Breakpoint="Breakpoint.Sm" Bordered="true" Dense="true" SortMode="SortMode.None"
                     RowClick="@ClickRow" @bind-SelectedItems="selectRow" Hover>
            <Columns>
                <PropertyColumn Property="x => x.IDCliente" Title="Rut Cliente" />
                <PropertyColumn Property="x => x.RazonSocial" />
                <PropertyColumn Property="x => x.IDVendedor" Title="Notificado Por" />
                <PropertyColumn Property="x => x.Comentarios" />
                <PropertyColumn Property="x => x.Valor" Format="$###,###,###" />
                <PropertyColumn Property="x => x.IDTipoPago" Title="Tipo De Pago">
                    <CellTemplate>
                        @{
                            if (@context.Item.IDTipoPago == 13)
                            {
                                <span>Transferencia</span>
                            }
                            else
                            {
                                <span>Deposito</span>
                            }
                        }
                    </CellTemplate>
                </PropertyColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="AvisoPagoModel" PageSizeOptions="new int[] {10,50}" />
            </PagerContent>
        </MudDataGrid>
    </MudItem>
</MudGrid>
<DialogTransferencia/>

<Loading @ref="@loading" />