@inject IDialogService DialogService

<MudDialog>
    <TitleContent>
        <h3>Previsualizador de Imagenes</h3>
    </TitleContent>
    <DialogContent>
        <div class="card">
            <h5 class="card-header">Imagenes</h5>
            <div class="card-body p-3 m-1">
                <MudItem Style="text-align:center; width:100%">

                    @{
                        if (Imagenes != null)
                        {

                            foreach (var item in Imagenes)
                            {
                                string imagen = string.Concat("data:image/jpg;base64,", item.NombreImagen);
                                <MudButton OnClick="@(() => Abrir(imagen ,$"Imagen Nro. {item.CorrelativoImagen}"))"><img style="border-radius:20px; box-shadow: 5px 3px rgba(0,0,0,0.3)" width="150" height="150" src="@imagen"/></MudButton>
                            }
                        }
                        else
                        {
                            <p>dato invalido</p>
                        }
                    }

                </MudItem>
            </div>
        </div>
    </DialogContent>
</MudDialog>
<PortalAG_V2.Componentes.Loading Visibility="@Loading" />